<h1 class='navbar'> Blumpa Teste - Kauê </h1>

<%= image_tag "kaue.jpg", alt: "Kauê" , :class => "navbar-photo" %>

<%= link_to 'Mostrar todos os produtos', products_path, method: :get %>
<%= link_to 'Criar um novo produto', products_new_path, method: :get %>
